.hero {
  width: 758px;
  margin-top: 10px;
  margin-left: 40px;
  box-shadow: 0px 5px 15px 5px rgb(255 255 255 / 10%);
  border-radius: 2%;
}
.hero div {
  border-radius: 2%;
}
.rsis-image {
  border-radius: 2%;
}
.dashboard {
  background-color: rgb(209 203 203);
  width: 100%;
}
.Loop {
  position: sticky;
  padding: 15px;
  background: linear-gradient(
    86deg,
    rgba(86, 6, 23, 1) 12%,
    rgba(86, 6, 23, 1) 27%,
    rgba(222, 83, 83, 1) 74%
  );
  border-bottom: 0.5px solid gray;
}

.inputLoop {
  background-color: white;
  border: 0px;
  width: 742px;
  height: 40px;
  border-radius: 5px;
  color: #560617;
  padding-left: 50px;
  font-size: 18px;
  margin-left: 347px;
}
.inputLoopTwo {
  background-color: white;
  border: 0px;
  width: 722px;
  height: 40px;
  border-radius: 5px;
  color: #560617;
  padding-left: 50px;
  font-size: 18px;
  margin-left: 262px;
}
.loop {
  position: absolute;
  left: 376px;
  top: 26px;
  scale: 1.5;
}
.loopTwo {
  position: absolute;
  left: 295px;
  top: 26px;
  scale: 1.5;
}
body {
  overflow-x: hidden;
}
.flexHero {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.weather {
  width: 23%;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 3%;
  padding-top: 13px;
}
.weatherold {
  width: 33%;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 5px rgb(255 255 255 / 10%);
  border-radius: 3%;
  padding-top: 13px;
}
.countryWeather {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #560617;
  color: white;
  margin: 20px;
  padding: 0 20px;
  border-radius: 25px;
}
.imageSun {
}
.weather p {
}
.dashboard h2 {
  color: #560617;
  font-size: 25px;
  font-weight: 500;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.matchRow {
  display: inline-flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 10px;
  background-color: #560617;
  align-items: center;
  width: 94%;
  padding: 10px;
  border-radius: 5px;
}
.matchRow p {
  color: white;
  font-size: 17px;
  font-weight: 500;
}
.fr9aName {
  color: white;

  font-weight: 500;
}
.fr9a {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100px;
}
.score {
  background-color: #312d26;
  color: #f5c451 !important;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}
.hero div {
  width: 100%;
}
.hero div div {
  width: 100%;
}
.fullTime {
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  background-color: #323337;
}
.date {
  color: white !important;
  font-weight: 300;
}
.originColorRow {
  background-color: #12172d;
}
.phoneNav {
  display: none;
}
.menu-bars {
  position: absolute;
  font-size: 40px;
  top: 14px;
  left: 38px;
  color: white;
  z-index: 100002;
}
.menu-bars-Crois {
  position: fixed;
  font-size: 40px;
  top: 14px;
  left: 231px;
  color: white;
  z-index: 100002;
}
@media only screen and (max-width: 1200px) {
  .hero {
    width: 100%;
  }
  .weather {
    width: 100%;
  }
  .inputLoop {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .fr9a {
    width: 55px;
  }
  .fr9aName {
    display: none;
  }
  .Menu {
    display: none;
  }
  .flexHero {
    flex-direction: column;
  }
  .hero {
    width: 90%;
    margin: 25px;
  }
  .hero div {
    width: 99% !important;
  }
  .hero div div {
    width: 97% !important;
  }
  .rsis-image {
    width: 20%;
  }
  .weather {
    width: 100%;
  }

  .inputLoop {
    width: 100%;
  }
  .phoneNav {
    display: flex;
    position: fixed;
    height: 75px;
    gap: 20px;
    background-color: #560617;
    padding: 20px;
    border-radius: 20px;
    bottom: 20px;
    justify-content: space-between;
    left: 20%;
    right: 20%;
    border: 1px white solid;
  }
}
@media only screen and (max-width: 644px) {
  .Loop input {
    width: 420px;
  }
  .date {
    display: none;
  }
  .matchRow {
    justify-content: space-between;
    margin-left: 12px;
  }
  .phoneNav {
    display: flex;
    position: fixed;
    height: 75px;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    bottom: 20px;
    justify-content: space-between;
    left: 20%;
    right: 20%;
    border: 1px white solid;
  }
  .fullTime {
    display: none;
  }
}
.matches {
  background-color: white;
  margin: 40px;
  padding: 10px;
  border-radius: 10px;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}
.dead {
  visibility: hidden;
  width: 0;
}
/* start flip card */
.card h1 {
  font-family: "Indie Flower", cursive;
  color: #12172d;
}
.wrapper {
  height: 400px;
  width: 320px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.wrapper .card {
  position: absolute;
  height: 98%;
  width: 100%;
  padding: 23px;
  background: white;
  border-radius: 10px;
  transform: translateY(0deg);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  margin-top: 10px;
}
.wrapper h1 {
  color: #560617;
}
.wrapper:hover > .front-face {
  transform: rotateY(-180deg);
}
.wrapper .card img {
  height: 68%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin: auto;
}
.wrapper .back-face {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}
.back-face span {
  font-family: "Indie Flower", cursive;
  font-size: 25px;
  color: #560617;
  font-weight: 900;
}
.wrapper:hover > .back-face {
  transform: rotateY(0deg);
}
.wrapper .back-face img {
  height: 150px;
  width: 150px;
  padding: 5px;
  border-radius: 50%;
  background: linear-gradient(
    var(--gradient-angle-degree),
    var(--gradient-color-1),
    var(--gradient-color-2)
  );
}
.wrapper .back-face .info {
  text-align: center;
}
.back-face .info .title {
  font-size: 30px;
  font-weight: 500;
}
.back-face ul {
  display: flex;
}
.back-face ul a {
  display: block;
  height: 40px;
  width: 40px;
  color: var(--back-face-social-media-icon-color);
  text-align: center;
  margin: 0 5px;
  line-height: 38px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: linear-gradient(
    var(--gradient-angle-degree),
    var(--gradient-color-1),
    var(--gradient-color-2)
  );
  transition: all 0.5s ease;
}
.back-face ul a:hover {
  color: var(--gradient-color-1);
  border-color: var(--card-border-color);
  background: linear-gradient(
    var(--gradient-angle-degree),
    transparent,
    transparent
  );
}
/* end flip card */
