* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.Menu {
  background-color: #560617;
  width: 283px;
  position: sticky;
  min-height: 100vh;
  padding: 40px 0 0 20px;
  border-right: 0.5px gray solid;
}
.logoDiv {
  display: flex;
  align-items: center;
  transform: translateX(-12px);
}
.logo {
  width: 50px;
}
.Menu h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.Menu h6 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.dash {
  display: flex;
  gap: 10px;
  margin: 20px;
}
.dash p {
  color: gray;
  font-size: 22px;
  font-weight: 500;
}
.dash .active {
  color: #f5c451;
}
.dash img {
  width: 25px;
}
.MenuElement {
  margin-top: 80px;
}
