#Translate {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
#Translate:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: -10px;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url("/src/imgs/flash.svg");
  z-index: -10;
}

#Translate-Title {
  color: white;
}
#Translate textarea {
  background-color: rgb(217 204 204);
  border: 2px solid white;
  width: 500px;
  height: 300px;
  color: rgb(92, 25, 25);
  padding: 20px;
  font-size: 30px;
  font-weight: 800;
  background-color: #ffffff;
  box-shadow: 0px 15px 20px rgb(0 0 0 / 30%);
  border-radius: 3%;
  padding-top: 13px;
}
.textAreaDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftRight {
  background: #f8f8f8;
  width: 180px;
}
.Container {
  width: 75vw;
  margin: 0 auto;
  margin-top: 150px;
}
.selectLang {
  width: 200px;

  background-color: #560617;
  color: white;
  border: 2px solid white;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 20px;
}
@media only screen and (max-width: 800px) {
  #Translate {
    height: 152vh;
    width: 100%;
    overflow: hidden;
  }
  .Container {
    width: 80vw;
    margin-top: 100px;
    margin-bottom: 80px;
  }
  .textAreaDiv {
    flex-direction: column;
  }
  .leftRightTwo {
    padding: 50px;
  }
  #Translate textarea {
    width: 100%;
  }
  /* #Translate:before {
    background-repeat: ;
  } */
}
.widthCent {
  width: 100%;
}
.widthTmanin {
  width: 80%;
}
